@import url(./fonts.css);


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: Manrope-Regular;
    grid-template-columns: 239px 1fr;
    background-color: #ffffff;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

ul {
    padding-left: 0px !important;
    list-style: none;
}

li {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.active {
    font-family: Manrope-SemiBold;

}

.displayNone {
    display: none;
}

.sidebar-container {
    position: relative;
}

.sidebar-wrapper {
    width: 239px;
    overflow-y: scroll;
    top: 0;
    height: 100%;
    z-index: 100;
    box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
    position: fixed;
}



.sidebar {
    padding: 15px;
    height: 100%;
    background-color: white;
}

.logo {
    width: 160px;
}

.nav-icon {
    /* height: 16px;
    width: 18px; */
    padding-right: 6px;
}

.badge {
    padding: 1px 8px;
    background-color: #FF7474;
    border-radius: 22px;
    color: white;
    font-size: 14px;
}

.dropdown {
    position: relative;
}


.dropdown-menu {
    border-left: 1px solid #DBE0E8;
    padding-left: 28px !important;
}

.dropdown-menu a {
    color: #666666;
}

.main-content {
    position: relative;
}

.header-search {
    /* position: fixed;
    width: 82%; */
    position: sticky;
    top: 0;
}

header {
    height: 60px;
    position: relative;
    width: 100%;
    box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
    color: #B3B3B3;
}

.search {
    height: 60px;
    padding-left: 4rem;
    width: 100%;
    border: 0px;
    font-size: 18px;
}

.search:focus {
    outline: 0px;
}

.search-icon {
    position: absolute;
    font-size: 32px;
    top: 17px;
    left: 20px;
    color: #B3B3B3;
}

.close-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.notification {
    /* position: relative; */
}

.bell-notification {
    position: absolute;
    top: 17px;
    right: 60px;
    height: 22px;
    background-color: #EFF3F9;
    padding: 4px 6px;
    border-radius: 2px;
}

.notification-indicator {
    position: absolute;
    padding: 4px;
    top: 15px;
    right: 56px;
    background-color: #F44336;
    border-radius: 90px;
    border: 2px solid white;
}

.user-profile {
    position: absolute;
    top: 17px;
    right: 20px;
    height: 29px;
}



.search-body {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

#accounts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.account {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 22px;
}

.company-logo {
    width: 50px;
    height: 50px;
}

.dynamic-company-logo {
    width: 50px;
    height: 50px;
    padding: 11px 17px;
    font-family: Manrope-Bold;
    background-color: #DF3B3B;
    color: white;
    border-radius: 2px;
    display: grid;
    place-items: center;
    font-size: 22px;
}

.account-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    font-family: Manrope-Bold;
}

.company-website {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.primary-button {
    border: 1px solid #FF6059;
    border-radius: 2px;
    color: #FF6059;
    padding: 7px 12px;
    font-family: Manrope-Bold;
    background-color: white;
    cursor: pointer;
}